
@{
    ViewBag.Title = "AnalyzeCost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Analizza spese</h2>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="../scripts/jquery-1.10.2.min.js"></script>

    <script src="../scripts/views/cost.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="../content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../content/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../content/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../content/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        function getCosts(username) {
            $.ajax(
                {
                    url: '@System.Configuration.ConfigurationManager.AppSettings["ApiHost"]/api/getcost?username=' + username,
                    method: 'GET',
                    dataType: 'json'
                }
                         ).done(function (result) {
                             console.log(result);
                             renderChartLine(result);
                         }).fail(function (req, textStatus, errorThrown) {
                             console.log(req, textStatus, errorThrown);
                         }).always(function () {
                             console.log('Always');
                         });
        }

        function renderChartLine(data) {
            for (var i = 0, len = data.length; i < len; i++) {
                $('#tablebody').append('<tr><th scope="row">' + (i + 1) + '</th><td>' + data[i].CostInfo + '</td><td>' + data[i].CostDetail + '</td></tr>');
            }
            $("#costList").trigger("create");
        }
    </script>

</head>
@*<div class="container-fluid">
    <div class="col-lg-6" style="margin-top:10px">*@
        <div class="panel panel-default">



            <div class="panel-heading">
                Lista spese
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <script>getCosts('@User.Identity.Name');</script>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Descrizione spesa</th>
                            <th>Spesa</th>
                        </tr>
                    </thead>
                    <tbody id="tablebody"></tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    @*</div>
</div>*@